<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EFILoginHiDPI</key>
	<data>
	AAAAAA==
	</data>
	<key>EmuVariableUefiPresent</key>
	<data>
	WWVz
	</data>
	<key>SystemAudioVolume</key>
	<data>
	Tw==
	</data>
	<key>SystemAudioVolumeDB</key>
	<data>
	+g==
	</data>
	<key>acpi-backlight-level</key>
	<data>
	AAQ=
	</data>
	<key>backlight-level</key>
	<data>
	AAA=
	</data>
	<key>bootercfg</key>
	<data>
	KAA=
	</data>
	<key>csr-active-config</key>
	<data>
	ZwAAAA==
	</data>
	<key>efi-apple-recovery</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjkxQkZCMTA5LTFD
	M0UtNDg5My1BQkE4LTFFQ0I2MjVBQTgxMTwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMyPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxG
	SVJNV0FSRVxNQlA5MV8wMEQzX0IyMl9MT0NLRUQuc2NhcDwvc3RyaW5nPjwvZGljdD48
	L2FycmF5PgA=
	</data>
	<key>efi-apple-recovery-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAIfAxIKAAAAAAAAAAQBKgACAAAAAKAPAAAAAAAAIAMAAAAA
	AAmxv5E+HJNIq6gey2JaqBECAgQEYgBcAEUARgBJAFwAQQBQAFAATABFAFwARgBJAFIA
	TQBXAEEAUgBFAFwATQBCAFAAOQAxAF8AMAAwAEQAMwBfAEIAMgAyAF8ATABPAEMASwBF
	AEQALgBzAGMAYQBwAAAAf/8EAA==
	</data>
	<key>efi-boot-device</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPkY4OUYyMUUzLTFE
	MDItNDExNi05REE1LTg5QTdDOTFDMDM1Njwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PC9k
	aWN0PjwvYXJyYXk+
	</data>
	<key>efi-boot-device-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAIfAxIKAAAAAAAAAAQBKgAFAAAAALhJJQAAAADoSNsUAAAA
	AOMhn/gCHRZBnaWJp8kcA1YCAn//BAA=
	</data>
	<key>fakesmc-key-#KEY-ui32</key>
	<data>
	AAAAEQ==
	</data>
	<key>fakesmc-key-$Adr-ui32</key>
	<data>
	AAADAA==
	</data>
	<key>fakesmc-key-$Num-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BATP-flag</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-BBIN-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BEMB-flag</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BNum-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-EPCI-ui32</key>
	<data>
	BmAHAA==
	</data>
	<key>fakesmc-key-MSAc-ui16</key>
	<data>
	AAA=
	</data>
	<key>fakesmc-key-MSFW-ui8</key>
	<data>
	AQA=
	</data>
	<key>fakesmc-key-MSPS-ui16</key>
	<data>
	AAM=
	</data>
	<key>fakesmc-key-MSTc-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-MSWr-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-RBr -ch8*</key>
	<data>
	YnJhbmNoAAA=
	</data>
	<key>fakesmc-key-REV -ch8*</key>
	<data>
	AgIPAABE
	</data>
	<key>fakesmc-key-RMde-char</key>
	<data>
	QQ==
	</data>
	<key>fakesmc-key-RPlt-ch8*</key>
	<data>
	ajMwAAAAAAA=
	</data>
	<key>flagstate</key>
	<data>
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
	</data>
	<key>fmm-computer-name</key>
	<data>
	TWFjQm9vayBQcm8gZGUgRGlvZ28=
	</data>
	<key>fmm-mobileme-token-FMM</key>
	<data>
	YnBsaXN0MDDcAQIDBAUGBwgJCgsMDQ4QDRENEhMUFRYdXxAPdW5yZWdpc3RlclN0YXRl
	XxASZW5hYmxlZERhdGFjbGFzc2VzWWF1dGhUb2tlbl5kaXNhYmxlQ29udGV4dFZ1c2Vy
	aWRdZW5hYmxlQ29udGV4dFh1c2VybmFtZVhwZXJzb25JRFdhZGRUaW1lVGd1aWRYdXNl
	ckluZm9fEBNkYXRhY2xhc3NQcm9wZXJ0aWVzEAChD18QIWNvbS5hcHBsZS5EYXRhY2xh
	c3MuRGV2aWNlTG9jYXRvcl8QzElBQUFBQUFBQkx3SUFBQUFBRnNBZWZJUkRtZHpMbWxq
	Ykc5MVpDNWhkWFJvdlFCU3BVZ2RQdkJ6RXM4UG9TM0ZwMmp2eU9nbUp1dHhwWlBIM1NG
	c09UYWR3V05EMG9SUUlkWU9WbGlxblpVNldOWDRYbzF3LTVEZWwyNkNUZ2dERFpkOWVa
	cklnZkFOVTVRZlBUU19lNC02VkM2bTBHMUdZNk04ZDdIT2l3azMtUDdaS3hLdWNTcHZ5
	UzlKS0YzMEdDdm5yY2g1UkF+fhEB9V8QFWRpby5nb2Zmc0Bob3RtYWlsLmNvbVo4MDUw
	MDA4MDIyI0HWwB6SPteMXxAkM0Q1MzVCMjMtQTBGRi00QUNBLUE2MDEtM0JERjM4MEU4
	NzVB0xcYGRobHF8QFUluVXNlT3duZXJEaXNwbGF5TmFtZV8QE0luVXNlT3duZXJGaXJz
	dE5hbWVfEBJJblVzZU93bmVyTGFzdE5hbWVbRGlvZ28gU2lsdmFVRGlvZ29VU2lsdmHR
	Dx7UHyAhIiMkJSZWYXBzRW52WGhvc3RuYW1lXWF1dGhNZWNoYW5pc21Wc2NoZW1lWlBy
	b2R1Y3Rpb25fEBNwMzAtZm1pcC5pY2xvdWQuY29tVXRva2VuVWh0dHBzAAgAIQAzAEgA
	UgBhAGgAdgB/AIgAkACVAJ4AtAC2ALgA3AGrAa4BxgHRAdoCAQIIAiACNgJLAlcCXQJj
	AmYCbwJ2An8CjQKUAp8CtQK7AAAAAAAAAgEAAAAAAAAAJwAAAAAAAAAAAAAAAAAAAsE=
	</data>
	<key>prev-lang:kbd</key>
	<data>
	cHQ6MA==
	</data>
	<key>security-mode</key>
	<string>none</string>
	<key>specialbootdevice</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAIfAxIKAAAAAAAAAAQBKgAFAAAAALhJJQAAAADoSNsUAAAA
	AOMhn/gCHRZBnaWJp8kcA1YCAn//BAA=
	</data>
</dict>
</plist>